html {
    scroll-behavior: smooth; /* Плавная прокрутка при переходе по якорям */
}

body {
    font-family: Arial, Times New Roman; /* Устанавливает шрифт для всего документа */
    margin: 0; /* Убирает отступы вокруг body */
    padding: 0; /* Убирает внутренние отступы у body */
    height: 100%; /* Задает высоту body на 100% высоты окна браузера */
    background-color: #9885ee; 
    color: #000000; /* Делает текст белым */
    width: 100%;
    overflow-x: hidden; /* Убирает горизонтальную прокрутку */
}
body h1, h2, h3, h4, h5, h6, p {
    margin-left: 15px; 
} /* отступы слева у заголовков и параграфов */

.wrapper {
    display: flex; /* Использует flexbox для размещения элементов */
    flex-direction: column; /* Размещает элементы вертикально */
    min-height: 100vh; /* Минимальная высота равна высоте окна браузера */
    padding-top: 40px
}
.content {
    flex: 1; /* Растягивает контент, чтобы footer был внизу */
}

#homeNavList {
    color: #000000; /* Цвет текста */
    text-decoration: none; /* Убирает подчеркивание у ссылок */
    text-decoration: none !important;
}

footer {
    display: flex; /* Использует flexbox для размещения элементов */
    flex-direction: column; /* Размещает элементы вертикально */
    font-family: Arial, Times New Roman;
    margin: 0; /* Убирает отступы вокруг footer */
    background-color: #261d29; /* Устанавливает темный фон для footer */
    color: #fff; /* Делает текст белым */
    flex-wrap: wrap; /* Позволяет переносить строки */
    padding-left: 0px; /* Отступ слева */
    line-height: 1.2; /* Высота строки для лучшей читаемости */
    font-size: 12px; /* Размер шрифта */
    margin-top: 20px;
    width: 100%; /* Задает ширину на 100% */
}
.footer-nav {
    display: flex; /* Использует flexbox для размещения элементов */
    flex-direction: row; /* Размещает элементы горизонтально */
    gap: 20px;
    align-items: center; /* Выравнивание по центру */
}
.footer-nav a {
    display: flex; /* Использует flexbox для размещения элементов */
    color: #fff;
    cursor: pointer; /* Изменяет курсор при наведении, показывая, что элемент интерактивен */
    text-decoration: none; /* Убирает подчеркивание у ссылок */
}
#scrollToTop {
    cursor: pointer; /* Изменяет курсор при наведении, показывая, что элемент интерактивен */
}

.whoWeAre {
    display: flex; /* Использует flexbox для размещения элементов */
    flex-direction: column; /* Размещает элементы вертикально */
    color: #fff; /* Цвет текста внутри блока */
    border: 4px solid #450058; /* Граница блока */
    border-radius: 20px; /* Скругление углов блока */
    overflow: hidden; /* Скрывает переполнение содержимого */
    margin-right: 20px; /* Отступ справа */
    margin-left: 20px; /* Отступ слева */
    max-width: 80ch;
    min-width: 30ch;
}
.whoWeAreTitle {
    text-align: center; /* Центрирует текст */
    font-size: 24px; /* Размер заголовка */
    background-color: rgb(47, 0, 62); /* Цвет фона */
    padding: 15px; /* Отступы внутри заголовка */
    margin: 0; /* Убирает отступы вокруг заголовка */
}
.whoWeAreParagraphs {
    display: flex;
    flex-wrap: wrap; /* Позволяет переносить строки */
    justify-content: space-between; /* Равномерно распределяет текст */
    align-items: flex-start; /* Выравнивание по верхнему краю */
    padding: 20px; /* Отступы внутри блока */
    background-color: #000000; /* Цвет фона блока */
    box-sizing: border-box; /* Учитывает отступы и границы в ширине и высоте */
    gap: 20px; /* Промежуток между элементами */
    font-weight: bold;
}

.tooltip {
    position: relative; /* Позволяет позиционировать вложенные элементы относительно этого блока */
    display: inline-block; /* Размещает элемент в строке, но позволяет ему задавать размеры */
    cursor: pointer; /* Изменяет курсор при наведении, показывая, что элемент интерактивен */
}
.tooltip-text {
    visibility: hidden; /* Скрывает текст по умолчанию */
    background-color: rgb(0, 34, 82); /* Устанавливает темно-синий фон */
    color: rgb(255, 255, 255); /* Устанавливает белый цвет текста */
    text-align: center; /* Выравнивает текст по центру */
    padding: 8px; /* Добавляет отступы внутри блока */
    border-radius: 5px; /* Закругляет углы */
    position: absolute; /* Позволяет точно позиционировать элемент относительно родителя */
    bottom: 125%; /* Подсказка появляется над элементом */
    left: 50%; /* Центрирование подсказки */
    transform: translateX(-50%); /* Корректирует позицию для точного центрирования */
    opacity: 0; /* Начальная прозрачность – элемент невидим */
    transition: opacity 0.3s; /* Плавное появление при активации */
    font-style: normal; /* Устанавливает нормальный стиль текста */
}
.tooltip:hover .tooltip-text {
    visibility: visible; /* Делает подсказку видимой */
    opacity: 1; /* Устанавливает полную непрозрачность */
}

.menu-container {
    display: inline-flex;
    position: relative;
}
.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #4a0b7e;
    border: 2px solid #3e0064;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100;
    white-space: nowrap;
}
.dropdown a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.dropdown a:hover {
    background-color: #400a6c;
}

header {
    display: flex; /* Использует grid для размещения элементов */
    z-index: 1000; /* Устанавливает порядок наложения */
    position: fixed; /* Фиксирует навигацию в верхней части страницы */
    top: 0; /* Привязывает к верхней части окна браузера */
    width: 100%; /* Задает ширину на 100% */
    height: 40px; /* Высота навигации */
    background-color: #47005f; /* Цвет фона навигации */
    flex-direction: row; /* главная ось по горизонтали */
    align-items: center; /* Выравнивание по центру */
    border-bottom: 3px solid #39004c;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Тень под навигацией */
}
header nav {
    display: inline-flex;
    height: 100%;
}
.buttonsNav-header {
    padding-left: 10px; /* Отступ слева */
    padding-right: 10px; /* Отступ справа */
    color: #fff; /* Цвет текста */
    font-size: 16px; /* Размер текста */
    background-color: #47005f; /* Цвет фона */
    border-top: none; /* Убирает верхнюю границу */
    border-bottom: none; /* Убирает нижнюю границу */
    border-left: none; /* Убирает левую границу */
    border-right: 2px solid #39004c; /* Убирает правую границу */
    flex-wrap: nowrap; /* Запрет на перенос текста */
}
.buttonsNav-header:hover {
    background-color: #3a094a; /* Цвет фона при наведении */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
}
#logo-header {
    margin-left: auto;
    height: 100%;
}

#titleAbout {
    font-size: 35px; /* Размер заголовка */
    color: #000000; /* Цвет текста */
    text-align: center; /* Центрирует текст */
    margin: auto; /* Убирает отступы вокруг заголовка */
    margin-bottom: 20px; /* Отступ снизу */
    background-color: #610182; /* Цвет фона */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px; /* Отступы внутри заголовка */
    padding-bottom: 20px;
    /* margin-top: 10px; */
}